.button {
    margin: 50px 0 50px 0;
    color: blue;
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 100px;
}

.form {
    margin-top: 50px;
    color: black;
}


